*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    background-image: url("back1.jpeg");
    /* background-image: url("back2.jpeg"); */
    /* background-image: url("Untitled\ Project.jpg");  */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:end;
    align-items: center;
}

#im{
    height: 100%;
    width: 80%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 40%;
}
.box{
    height: 675px;
    background-color: transparent;
    width: 500px;
    margin-top: 50px;
    margin-right: 40px;
    border-radius: 40px;
    box-shadow: 2px 2px 10px 5px white;
    backdrop-filter:blur(5px);
}
.headingd{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
#heading{
    text-align: center;
    color: white;
    font-size: 4rem;
    font-family: Kanit;
}
.input{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#email{
    display: flex;
    flex-direction: column;
    color:white;
    margin-left: 45px;
    font-family: Kanit;
    font-weight: 500;
    font-size: 1.5rem;
}
#emaili{
    /* margin-left: 45px; */
    border: none;
    border-radius: 0px;
    width: 25rem;
    padding: 0 10px;
    color: white;
    font-size: 1.2rem;
    border-bottom:3px solid white;
    background: transparent;
}
#emaili:focus{
    background-color: transparent;
    outline: none;

    /* border-bottom: 3px solid rgb(255, 255, 255); */
}
#password{
    display: flex;
    flex-direction: column;
    color:white;
    margin-left: 45px;
    font-family: Kanit;
    font-weight: 500;
    font-size: 1.5rem;
}
#passwordi{
    /* margin-left: 45px; */
    border: none;
    border-radius: 0px;
    width: 25rem;
    padding: 0 10px;
    color: white;
    font-size: 1.2rem;
    border-bottom:3px solid white;
    background: transparent;
}
#passwordi:focus{
    background-color: transparent;
    outline: none;

    /* border-bottom: 3px solid rgb(255, 255, 255); */
}
#userName{
    display: flex;
    flex-direction: column;
    color:white;
    margin-left: 45px;
    font-family: Kanit;
    font-weight: 500;
    font-size: 1.5rem;
}
#userNamei{
    /* margin-left: 45px; */
    border: none;
    border-radius: 0px;
    width: 25rem;
    padding: 0 10px;
    color: white;
    font-size: 1.2rem;
    border-bottom:3px solid white;
    background: transparent;
}
#userNamei:focus{
    background-color: transparent;
    outline: none;

    /* border-bottom: 3px solid rgb(255, 255, 255); */
}
#mail{
    height: 20px;
    width: 20px;
}
#check{
    display: flex;
    flex-direction: row;
    color:white;
    margin-left: 45px;
    font-family: Kanit;
    font-weight: 500;
    font-size: 1rem;
    align-items: center;
    gap: 5px;
}
#chec{
    height: 20px;
    width: 20px;
}
.row{
    display: flex;
    flex-direction: row;
}
#link{
    font-family: Kanit;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    position: relative;
    left: 145px;
    top: 50px;
    text-decoration: none;
}

#link2{
    font-family: Kanit;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    position: relative;
    left: 135px;
    margin-top: 20px;
    text-decoration: none;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#button{
    background-color: white;
    color: black;
    border: none;
    font-size: 2rem;
    font-family: kanit;
    border-radius: 30px;
    height: 50px;
    width: 400px;
}
.links
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#button2{
    background-color: white;
    color: black;
    border: none;
    font-size: 1.5rem;
    margin-top: 10px;
    font-family: Kanit;
    border-radius: 30px;
    height: 40px;
    width: 340px;
    display: flex;
    align-items: center;
    margin-left: 80px;
    justify-content: center;
}

.links
{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#legend{
    padding: 3px 6px;
    color: white;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}
.instead {
	margin-top: 10px;
}
.instead h3 {
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
}
.instead h3:before,
.instead h3:after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 25%;
}
.instead h3:before {
    right: 0.5em;
    margin-left: -50%;
}
.instead h3:after {
    left: 0.5em;
    margin-right: -50%;
}
#img2{
    height: 40px;
}
.transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
    pointer-events: none;
}
.transition-row{
    flex: 1;
    display: flex;
}
.transition-row.row-1 .block{
    transform-origin: top;
}
.transition-row.row-2 .block{
    transform-origin: bottom;
}
.block{
flex: 1;
background-color: #bcbcc4;
transform: scaleY(1);
will-change: tranform;
}